{varType string $value}
{varType App\UI\Front\Control\Datagrid\Column\ColumnText $column}
{varType App\Doctrine\Entity $item}

{parameters
    string $value,
    App\UI\Front\Control\Datagrid\Column\ColumnText $column,
    App\Doctrine\Entity $item
}

<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-500">
    {$value}
</td>
