{* For some weird reason, tailwind purge type=number select :O since its rendered via nette forms renderer *}
<div class="hidden">
    <input type="number" name="amount" min="1" id="frm-visitProductForm-amount" required="" data-nette-rules="[]" value="1" class="max-w-lg block w-full shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:max-w-xl sm:text-sm border-gray-300 rounded-md form-control" data-lfv-initialized="true" data-lfv-message-id="frm-visitProductForm-amount_message">
</div>