custompresenterfactory:
	presenterDir: %appDir%
	customMapping:
		Admin:Login: App\Login\UI\LoginPresenter
		Admin:AppAdmin: App\Admin\UI\AppAdminPresenter
		Admin:AppAdminChangePassword: App\Admin\UI\AppAdminChangePasswordPresenter
		Admin:AppAdminEdit: App\Admin\UI\AppAdminEditPresenter
		Admin:Dashboard: App\Dashboard\UI\DashboardPresenter
